/*common.css*/
html {
    width: 100%;
    height: 100%;
}
html body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.disable {
    cursor: unset !important;
    /*background: #ccc !important;*/
}
.viewport {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 80px;
    background-color: #323232;
}
header .logo {
    float: left;
    width: 200px;
    height: 49px;
    background: url("../images/logo.png");
    position: absolute;
    top: 10px;
}
header .menu {
    float: right;
    width: 30%;
    position: relative;
    height: 80px;
    line-height: 80px;
}
header .menu span {
    width: 50%;
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 40px;
    text-align: center;
}
header .menu i {
    position: absolute;
    width: 64px;
    height: 55px;
    top: 12px;
    right: 15px;
    background: url(../images/menu.png);
}
.allContainer {
    width: 100%;
    height: 100%;
    background-color: #e5e6e9;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.allContainer .aside {
    width: 50px;
    height: 1280px;
    overflow:hidden;
    background-color: #313131;
    float: left;
}
.allContainer .mainContainier {
    float: right;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: 100%;
}
.changePage .active {
    background: pink;
}
.allContainer .mainContainier label{
    padding-right:0;
    padding-left:0;
    text-align:center;
    font-weight:400;
}

.allContainer .mainContainier nav {
    width: 100%;
    height: 60px;
    padding-left: 50px;
    line-height: 60px;
    position: relative;
    font-size: 16px;
}
.allContainer .mainContainier nav .wapSearch {
    position: absolute;
    top: 0px;
    left: 30%;
}
.allContainer .mainContainier nav .addBtn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    letter-spacing: 2px;
}
.allContainer .mainContainier nav .addBtn1 {
    background-color: #036197;
}
.allContainer .mainContainier nav .addBtn2 {
    background-color: #11B9DD;
}
.allContainer .mainContainier nav .listBack {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    margin-left:10px;
}
.allContainer .mainContainier nav .begindate {
    float: left;
    margin-right: 20px;
}
.allContainer .mainContainier nav .enddate {
    float: left;
    margin-right: 20px;
}
.allContainer .mainContainier nav input {
    width: 140px;
    height: 36px;
    border: 1px solid #D8D8DA;
    font-size: 16px;
    line-height: 36px;
    padding-left: 10px;
    margin-left:10px;
   border-radius: 5px!important;
}
.allContainer .mainContainier nav .querryBtn {
    float: left;
    width: 100px;
    height: 36px;
    margin: 13px 20px 0 0;
    background-color: #11B9DD;
}
.allContainer .mainContainier nav select {
    font-size: 16px;
    width: 200px;
    height: 36px;
    border: 1px solid #D8D8DA;
    padding-left: 10px;
}
.allContainer .mainContainier nav select option {
    display: block;
    width: 200px;
    height: 40px;
    color: #11B9DD;
}
.allContainer .mainContainier nav form .searchInfo{
    display:inline-block;float:left;
}

.allContainer .mainContainier .tableContext {
    width: 100%;
    height: 100%;
}
.allContainer .mainContainier .tableContext table {
    width: 95%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #D8D8DA;
    margin: 0 20px 20px 45px;
    box-sizing: border-box;
    font: 16px "微软雅黑";
}
.allContainer .mainContainier .tableContext table tr {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 3px 0;
}
.allContainer .mainContainier .tableContext table th {
    width: 11%;
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #D8D8DA;
    text-align: center;
}
.allContainer .mainContainier .tableContext table td {
    width: 11%;
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #D8D8DA;
    text-align: center;
    position: relative;
}
.allContainer .mainContainier .tableContext table td a {
    display: block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.allContainer .mainContainier .tableContext table td .find {
    background-color: #7BD0E3;
}
.allContainer .mainContainier .tableContext table td .edit {
    background-color: #036197;
}
.allContainer .mainContainier .pagination {
    width: 100%;
    height: 35px;
    position: relative;
    background-color: #E5E6E9;
}
.allContainer .mainContainier .pagination .itemCount {
    position: absolute;
    top: 0px;
    margin-left: 50px;
}
.allContainer .mainContainier .pagination .changePage {
    width:600px;
    height: 35px;
    position: absolute;
    /*top: 0px;*/
    /*left: 45%;*/
    top: -25px;
    left: 35%;
}
.allContainer .mainContainier .pagination .changePage li {
    float: left;
    margin-right: 10px;
}
.allContainer .mainContainier .pagination .changePage .arrow {
    display: block;
    width: 12px;
    height: 14px;
    margin-top: 3px;
}
.allContainer .mainContainier .pagination .changePage .arrow:hover {
    cursor: default;
}
.allContainer .mainContainier .pagination .changePage .arrow_left1 {
    background: url(../images/arrow_left1.png);
}
.allContainer .mainContainier .pagination .changePage .arrow_left2 {
    background: url(../images/arrow_left2.png);
}
.allContainer .mainContainier .pagination .changePage .arrow_right1 {
    background: url(../images/arrow_right1.png);
}
.allContainer .mainContainier .pagination .changePage .arrow_right2 {
    background: url(../images/arrow_right2.png);
}
.allContainer .mainContainier .pagination .changePage #page_num_all li {
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
.allContainer .mainContainier .pagination .changePage #page_num_all li:hover {
    cursor: pointer;
}
.allContainer .mainContainier .pagination .changePage #page_num_all .current {
    color: #7BD0E3;
}


/*edit.css*/

.mainContainier {
    font-size: 16px
}

.mainContainier .btnBack {
    width: 300px;
    height: 60px;
    padding-left: 50px;
    line-height: 60px
}

.mainContainier .btnBack .btn {
    width: 100px;
    height: 40px
}

.mainContainier .columnDiv {
    background-color: #fff
}

.mainContainier .formDiv {
    position: relative;
    width: 52%;
    margin-left: 50px;
    padding-top: 60px;
    background-color: #fff
}

.mainContainier .formDiv input[type=text], .mainContainier .formDiv input[type=password] {
    width: 300px;
    height: 40px
}

.mainContainier .formDiv .form-group {
    margin-bottom: 25px
}

.mainContainier .formDiv .control-label {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
}

.mainContainier .formDiv .radio-inline {
    padding-top: 10px;
    margin-left:20px;
}

.mainContainier .formDiv .selectBD {
    width: 330px;
    height: 40px
}

.mainContainier .formDiv button.btn {
    width: 120px;
    height: 40px;
    letter-spacing: 2px;
    font-size: 16px;
    margin-left: 35%;
    margin-bottom: 60px
}
.mainContainier .formDiv .nametipmsg {
    display: inline-block;
    float:right;
    margin-top: -40px;
    margin-right:-380px;
    height:40px;
}


/*doctorList.css*/

.mainContainier nav {
    padding-right: 60px;
    font-size: 16px;
}
.mainContainier nav button {
    float: left;
    margin-top: 13px;
}
.mainContainier nav .btn {
    width: 80px;
}
.mainContainier nav .begindate {
    float: left;
}
.mainContainier nav .enddate {
    float: left;
}
.mainContainier nav .input-group-addon {
    display: none;
}
.mainContainier nav input {
    width: 160px;
    height: 40px;
    border: 1px solid #E5E5E9;
}
.mainContainier nav .querryBtn {
    float: left;
}
/*@media screen and (min-width: 721px) and (max-width: 1280px) {*/
/*.mainContainier .form_date input {*/
/*!*width: 75px!important;*!*/
/*font-size: 12px!important;*/
/*}*/
/*.mainContainier .form_date label {*/
/*!*width: 75px!important;*!*/
/*font-size: 12px!important;*/
/*}*/
/*}*/


/*billDetails.css*/


.mainContainier {
    padding: 0 50px 50px 50px
}

.mainContainier .btnBack {
    width: 100%;
    height: 80px;
    position: relative
}

.mainContainier .btnBack .btn {
    position: absolute;
    top: 20px;
    left:33px;
}
.mainContainier .btnBack .detailsBack{
   left:0px;
}

.mainContainier .billDetails {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.mainContainier .billDetails .billLeft {
    float: left;
    width: 40%;
    height: 100%;
    margin-right: 15px
}

.mainContainier .billDetails .billLeft .left_up {
    padding: 50px 0 50px 70px;
    background-color: #fff
}

.mainContainier .billDetails .billLeft .left_up ul li {
    height: 70px;
    line-height: 70px;
    font-size: 20px
}

.mainContainier .billDetails .billLeft .left_up ul .title {
    font: 700 20px "微软雅黑 serif sans-serif ";
    margin-right: 20px
}

.mainContainier .billDetails .billLeft .left_down {
    background-color: #fff;
    padding-bottom: 140px;
    text-align: center
}

.mainContainier .billDetails .billLeft .left_down tr {
    height: 90px;
    font-size: 20px;
    border: none
}

.mainContainier .billDetails .billLeft .left_down tr:first-child {
    background-color: #F4F5F7
}

.mainContainier .billDetails .billLeft .left_down th {
    text-align: center;
    border: none;
    line-height:90px
}

.mainContainier .billDetails .billLeft .left_down td {
    border: none
}

.mainContainier .billDetails .billright {
    float: right;
    width: 55%;
    height: 100%
}

.mainContainier .billDetails .billright .right_up {
    width: 100%;
    height: 100%;
    background-color: #fff
}

.mainContainier .billDetails .billright .right_up .title {
    width: 100%;
    height: 60px
}

.mainContainier .billDetails .billright .right_up .title h2 {
    font: 700 18px/60px "微软雅黑";
    padding-left: 30px
}

.mainContainier .billDetails .billright .right_up .pieParent {
    width: 100%;
    height: 100%;
    position: relative
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList {
    position: absolute;
    top: 0;
    right: 20px
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li {
    height: 15px;
    line-height: 15px;
    margin-bottom: 3px
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon1 {
    background-color: #036298
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon2 {
    background-color: #0e95db
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon3 {
    background-color: #12c494
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon4 {
    background-color: #ffa200
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon5 {
    background-color: #e03c14
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li .icon6 {
    background-color: #9570cd
}

.mainContainier .billDetails .billright .right_up .pieParent .pieList li span {
    height: 15px;
    line-height: 15px;
    display: inline-block
}

.mainContainier .billDetails .billright .right_up .pieParent .pieChart {
    width: 80%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 50px 0
}

.mainContainier .billDetails .billright .right_up .pieParent .pieChart #pie {
    float: left;
    right: 50%;
    width: 300px;
    height: 300px
}

.mainContainier .billDetails .billright .right_down {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    background-color: #fff
}

.mainContainier .billDetails .billright .right_down .title {
    width: 100%;
    height: 60px
}

.mainContainier .billDetails .billright .right_down .title h2 {
    font: 700 18px/60px "微软雅黑";
    padding-left: 30px
}

.mainContainier .billDetails .billright .right_down .barParent {
    width: 100%;
    height: 100%;
    position: relative
}

.mainContainier .billDetails .billright .right_down .barParent .barList {
    position: absolute;
    top: 0;
    right: 20px
}

.mainContainier .billDetails .billright .right_down .barParent .barList li {
    height: 15px;
    line-height: 15px;
    margin-bottom: 3px
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon1 {
    background-color: #036298
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon2 {
    background-color: #0e95db
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon3 {
    background-color: #12c494
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon4 {
    background-color: #ffa200
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon5 {
    background-color: #e03c14
}

.mainContainier .billDetails .billright .right_down .barParent .barList li .icon6 {
    background-color: #9570cd
}

.mainContainier .billDetails .billright .right_down .barParent .barList li span {
    height: 15px;
    line-height: 15px;
    display: inline-block
}

.mainContainier .billDetails .billright .right_down .barParent .barChart {
    width: 80%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 50px 0
}

.mainContainier .billDetails .billright .right_down .barParent .barChart #bar {
    float: left;
    right: 50%;
    width: 300px;
    height: 300px
}

@media only screen and (min-width: 1600px )and (max-width:1919px) {
    .mainContainier .billDetails .billLeft .left_down {
        background-color: #fff;
        padding-bottom: 0px;
        text-align: center
    }
    .allContainer .aside {
        width: 50px;
        height: 1280px;
        overflow:hidden;
        background-color: #313131;
        float: left;
    }
}
@media screen and (max-width: 1024px) {
    .mainContainier .billDetails .billLeft .left_up ul li {
        height:50px;
    }
    .mainContainier .billDetails .billLeft .left_down {
        background-color: #fff;
        padding-bottom: 100px;
        text-align: center
    }

    .mainContainier .billDetails .billLeft .left_down tr {
        height: 70px;
        font-size: 20px;
        border: none
    }

    .mainContainier .billDetails .billLeft .left_down tr:first-child {
        background-color: #F4F5F7
    }

    .mainContainier .billDetails .billLeft .left_down th {
        text-align: center;
        border: none;
        line-height: 70px
    }
}
@media screen and (max-width: 1280px) {
    .mainContainier .billDetails .billLeft .left_up ul li {
        height:60px;
    }
}
@media screen and (width: 1366px) {
    .allContainer .mainContainier nav select {
    width: 140px;
}
}