


<div class="allContainer">
    <!--侧边栏-->
    <div class="aside">

    </div>
    <!--内容区-->
    <div class="mainContainier">
        <nav>
            <button class="addBtn addBtn1" ng-click="addDoctor()">添加医生</button>
            <button class="addBtn addBtn2" ng-click="addDoctorBD()">添加医生BD</button>
        </nav>
        <div class="tableContext">
            <table>
                <thead>
                <tr>
                    <th>医生BD姓名</th>
                    <th>医生BD登录名</th>
                    <th>拓展医生数</th>
                    <th>间接拓展医生数</th>
                    <th>管理医生数</th>
                    <th>管理医生BD数</th>
                    <th>上级BD</th>
                    <th>医生列表</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in datas track by $index">
                    <td>{{item.username}}</td>
                    <td>{{item.loginName}}</td>
                    <td>{{item.kzTotal}}</td>
                    <td>{{item.jjTotal}}</td>
                    <td>{{item.kzTotal}}</td>
                    <td>{{item.mangerTotal}}</td>
                    <td>{{item.leader}}</td>
                    <td ><a class="find" href="javascript:void(0);" ng-click="checkList(item.id)">查 看</a></td>
                    <td ><a class="edit" href="javascript:void(0);" ng-click="editBD(item.id)">编 辑</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination" ng-controller="paginationHomeCtrl">
            <p class="itemCount">每页显示
                <select  ng-model="selectValue"
                ng-options="item.pagesize   for item in homeLists track by item.id"  value="{{item.id}}" ng-change="getPagesize()" >
                </select>
                条，共 <span>{{total}}</span> 条记录
            </p>
            <div  class="changePage">
                <div class="pager">
                    <!--<pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>-->
                    <pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
                </div>
            </div>




            <!--<ul class="changePage">-->
                <!--<li id="firstPage" ng-click="getPage(1)" class="arrow arrow_left1" >首页</li>-->
                <!--<li id="previous" ng-click="getPage(page-1)" class="arrow arrow_left2" ng-class='{"disable":page==1}'>上一页</li>-->
                <!--<li>-->
                    <!--<ul id="page_num_all">-->
                        <!--&lt;!&ndash;<li  auto-active="active" ng-repeat="num in pageNum" ng-click="getPage(num)">{{num}}</li>&ndash;&gt;-->
                        <!--<li  ng-class="{active:page===num}"  ng-repeat="num in pageNum" ng-click="getPage(num)">{{num}}</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li id=" nextPage" ng-click="getPage(page+1)" class="arrow arrow_right1" ng-class='{"disable":page>=totalPage}'>下一页</li>-->
                <!--<li id="lastPage" ng-click="getPage(totalPage)" class="arrow arrow_right2">尾页</li>-->


            <!--</ul>-->
        </div>
    </div>

</div>