.menu{ background:url("menu.png") top left no-repeat; }
._1医生BD列表_r3_c4{ width:46px; height:37px; background-position:-10px -10px; }
._1医生BD列表_r2_c2{ width:171px; height:36px; background-position:-10px -57px; }

