<!--内容区域-->
<div class="allContainer clearfix">
    <!--侧边栏-->
    <div class="aside">

    </div>
    <!--内容区-->
    <div class="mainContainier">
        <div class="btnBack" style="padding:20px 0  0 50px;">
            <button type="button" class="btn btn-default detailsBack" ng-click="backBillList()" style="width:100px;height:40px;">
                &lt;返回
            </button>
        </div>
        <div class="billDetails clearfix">
            <!--<div class="container-fluid">-->
            <!--<div class="row">-->
            <div class=" billLeft clearfix">
                <div class="left_up clearfix">
                    <ul >
                        <li><span class="title">医生姓名：</span><span>{{doctorBill.name}}</span></li>
                        <li><span class="title">账单月份：</span><span>{{doctorBill.month}}</span></li>
                        <li><span class="title">收入总额：</span><span>{{doctorBill.salaryCount}}</span></li>
                    </ul>
                </div>
                <div class="left_down clearfix">
                    <table class="table">
                        <tr>
                            <th>类型</th>
                            <th>例数</th>
                            <th>收入（元）</th>
                        </tr>
                        <tr ng-repeat="item in sorts track by $index ">
                            <td>{{item.type}}</td>
                            <td>{{item.num}}</td>
                            <td>{{item.salary}}</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class=" billright clearfix">
        
                <div class='right_up clearfix'>
                    <div class="title">
                         <h2>医生收入占比图</h2>
                    </div>
                    <div class='pieParent'>
                        <ul class="pieList">
                            <li><i class="icon1 icon"></i><span style=" vertical-align: top;">CT</span></li>
                            <li><i class="icon2 icon"></i><span>MR</span></li>
                            <li><i class="icon3 icon"></i><span>DX</span></li>
                            <li><i class="icon4 icon"></i><span>CR</span></li>
                            <li><i class="icon5 icon"></i><span>推荐大病</span></li>
                            <li><i class="icon6 icon"></i><span>推荐片子</span></li>
                        </ul>
                        <div class="pieChart" ng-controller="PieCtrl">
                                 <canvas id="pie" class="chart chart-pie"
                                        chart-data="data" chart-labels="labels" chart-options="options">
                                </canvas>                      
                        </div>
                    </div>
                </div>
                <div class='right_down clearfix'>
                    <div class="title">
                         <h2>医生收入占比图</h2>
                    </div>
                    <div class='barParent'>
                     <ul class="barList">
                            <li><i class="icon1 icon"></i><span>上月</span></li>
                            <li><i class="icon2 icon"></i><span>本月</span></li>
                    </ul>
                    <div class="barChart" ng-controller="BarCtrl">
                            <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels"
                                chart-options="options"  chart-colors="colors">
                        </canvas>                    
                    </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</div>
