<!--<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">-->
<div class="allContainer">
    <!--侧边栏-->
    <div class="aside">

    </div>
    <!--内容区-->
    <div class="mainContainier">
        <nav >
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="row">
                        <button class=" btn btn-default listBack" ng-click="backOfList()">&lt;&nbsp;返回</button>
                        <button class="addBtn addBtn1 " ng-click="addDoctorOfList()">添加医生</button>
                    </div>

                </div>
                <div class="col-md-8 col-lg-8">

                    <div class="row">
                        <form action="" class="form-inline ">
                            <div class="control-group searchInfo ">

                                    <div class="begindate input-group date form_date" data-date=""
                                         data-date-format="dd MM yyyy" data-link-field="dtp_input1"
                                         data-link-format="yyyy-mm-dd">
                                        <label for="dtp_input1" class="control-label">开始月份</label>
                                        <input class="form-control" type="text" value="" readonly
                                               placeholder="点击选择" ng-model="startime" ng-change="getStartime()">
                                        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                        <span class="input-group-addon " ><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1" value=""/><br/>


                            </div>

                            <div class="control-group searchInfo">
                                <div class="enddate input-group date form_date " data-date=""
                                     data-date-format="dd MM yyyy"
                                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <label for="dtp_input2" class="control-label ">截止月份</label>
                                    <input class="form-control"  type="text" value="" ng-model="endtime" ng-change="getEndtime()" readonly
                                           placeholder="点击选择">
                                    <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value=""/><br/>
                            </div>

                            <div class=" searchInfo">
                                <button ng-click='search()' id="querry" class="btn btn-default querryBtn">查询</button>
                            </div>
                            <div class=" searchInfo">
                                <select name="" ng-model="selectList" ng-change = "getList()">
                                    <option value="0" ng-selected="true">医生列表</option>
                                    <option value="1">账单列表</option>
                                </select>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="tableContext">
            <table>
                <thead>
                <tr>
                    <th>医生姓名</th>
                    <th>登录名</th>
                    <th>手机号</th>
                    <th>总数（CT/MR/DX/CR）</th>
                    <th>本月（CT/MR/DX/CR）</th>
                    <th>推荐大病（总数/本月）</th>
                    <th>推荐片子（总数/本月）</th>
                    <th>账单</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in doctorLists track by $index">
                    <td>{{item.name}}</td>
                    <td>{{item.loginName}}</td>
                    <td>{{item.telphone}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.perTotal}}</td>
                    <td>{{item.illness}}</td>
                    <td>{{item.pz}}</td>
                    <td><a class="find" href="javascript:void(0);"  ng-click="querryBill(item.id)">查看</a></td>
                    <td><a class="edit" href="javascript:void(0);" ng-click="editDoctor(item.id)">编辑</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination" ng-controller="doctorlistPageCtrlChange">
            <p class="itemCount">每页显示
                <select  ng-model="selectValue"
                         ng-options="item.pagesize for item in doctorLists track by item.id"  value="{{item.id}}" ng-change="getPagesize()" >
                </select>
                条，共 <span>{{total}}</span> 条记录
            </p>

            <div  class="changePage">
                <div class="pager">
                    <pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
                </div>
            </div>

        </div>

    </div>

</div>
<script>

    $(function () {
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
//            pickerPosition: "bottom-right",
            format: 'yyyy-mm-dd'
        });
    });
</script>